
<h1 class="display-4 w-50 mx-auto mt-5">Login</h1>
<div class='jumbotron w-50 mx-auto'>
  <%= form_tag sessions_path do |form| %>
    <div class='field'>
      <%= label_tag :email %>
      <%= text_field_tag :email , nil , :id => "form_email", :class => "form-control" ,  :placeholder => "name@example.com"%>
    </div>
    
    <div class='actions'>
      <%= submit_tag 'Login' , :class => "btn btn-primary mt-4"%>
    </div>
    
    <html lang="en">
        <head>
          <meta name="google-signin-scope" content="profile email">
          <meta name="google-signin-client_id" content="30443356246-e47qs90nbtlkfc0uf12hdfl77fkl9rb1.apps.googleusercontent.com">
          <script src="https://apis.google.com/js/platform.js" async defer></script>
        </head>
        <body>
          <div class="g-signin2" data-onsuccess="onSignIn" data-theme="dark" style=margin-top:20px></div>
          <script>
            function onSignIn(googleUser) {
              // Useful data for your client-side scripts:
              var profile = googleUser.getBasicProfile();
              // The ID token you need to pass to your backend:
              // var id_token = googleUser.getAuthResponse().id_token;
            
              document.getElementById('form_email').value = profile.getEmail();
              f.submit
            }
          </script>
    
  <% end %>
</div>